body{
    padding: 0px;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}

.img{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    border: 7px solid #b74357c7;
    margin-top: 5rem;
    margin-right: 25px;
}
      
.navbar{
    display: block;
    text-align: center;
     position: fixed;
     top: 0;
     left: 0;
      display: flex; 
     flex-direction: column;
     width: 17rem;
     height: 100vh; 
     background-color: #911e4ae0;
}

.resume-section{
    padding-left: 19rem;
    padding-bottom: 8rem;
}

.navbar .menu-btn{
    font-weight: 600;
    font-size: 1rem;
    color: #f0f8ffcc;
    text-decoration: none;
    padding-top: 20px;
    padding-right:  77px;
    text-transform: uppercase;
}

.navbar .menu li{
    margin-top: 30px;
    list-style: none;
}
    
h1{
     color: black;
    font-size: 5rem;
    padding-left: 23px;
    text-transform: uppercase;
    padding-top: 70px;
}

.text-primary{
    color: #911e4ae0;
} 

.subheading{
    font-size: 23px;
    color: rgba(19, 20, 20, 0.646);
    text-transform: uppercase;
}

.subheading a {
    text-decoration: none;
    color: #911e4ae0;
}

p{
   color: rgb(10, 10, 10);
   font-size: 16px;
}

h2{
    padding-top: 2.5rem;
    font-size: 3.7rem;
    text-transform: uppercase;
}

.list-inline-item {
    list-style: none;
    display: inline-block;
    padding-top: 51px;
    padding-bottom: 68px;
}

.list-social-icon {
    color: black;
}

.list-inline a {
    color: rgba(24, 21, 21, 0.697);
    font-size: 1.4rem;
    margin-top: 3px;
}

.list-inline a:hover{
    color: #911e4ae0;
}

h3{
    font-size: 1.50rem;
    text-transform: uppercase;
    padding-top: 10px;
    text-decoration: none;
}

.resume-section .resume-date {
    padding-bottom: 4rem;
}

.devicon-html5-plain, 
.devicon-css3-plain,
.devicon-tailwindcss-original-wordmark,
.devicon-javascript-plain,
.devicon-bootstrap-plain,
.devicon-react-original,
.devicon-figma-plain,
.devicon-canva-original,
.devicon-wordpress-plain,
.devicon-jquery-plain,
.devicon-npm-original-wordmark{
    font-size: 3.2rem;
    padding-left: 15px;
    color: #6c6363cc;
    line-height: 3;
}

.container{
    padding-bottom: 50px;
}

.container a{
    text-decoration: none;
    color: #931c4a;
}

.container a:hover{
    color: rgb(184, 134, 33);
}


/*responsive media query start*/

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
    .navbar{
        display: none;
    }
    .resume-section{
        padding-left: 2.5px;
        padding-top: 20px;
        padding-bottom: 50px;
    }
    h1{
        font-size: 2rem;
        padding-top: 25px;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1.2rem;
    }
    p{
        font-size: 1rem;
        padding-top: 30px;
        word-spacing: 0.2em;
    }
    .subheading{
        font-size: 0.7rem;
    }
    .list-inline-item{
        padding-top: 15px;
    }

    .list-inline a{
        font-size: 1.2rem;
    }
}